{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <section class="col-md-10 col-lg-8 col-xl-7" id="articles-intro">
            <div class="article1">
                <div class="div-article-image">
                    <img class="article-image" src="{{ asset('images/livre_route_destine.jpeg') }}" alt="">
                </div>
                <div class="mt-3">
                    <h4>Sur la route de l’école, la destinée</h4>
                    <p class="">
                        Cet ouvrage rappel à l’homme que la vie est une école. Ce livre est le résumé de la vie
                        de El Hadji Tamboura. Hamadou Tamboura a une riche carrière professionnelle qui lui permet
                        de découvrir l’homme. Il s’est investi dans la formation des jeunes. L’ouvrage nous renseigne
                        également
                        sur la foi de El Hadji Tamboura. L’ouvrage se termine par son rêve. L’ouvrage présente le
                        courage,
                        l’endurance, l’engagement dans le travail bien fait, l’honnêteté et l’amour de son village
                    </p>
                    <a class="article-link" href="{{ path('article_destine') }}" type="button">Lire</a>
                </div>
            </div>
            <div class="article2">
                <div class="div-article-image">
                    <img class="article-image" src="{{ asset('images/lancement.jpeg') }}" alt="">
                </div>
                <div class="mt-3">
                    <h4>Début de nos activités</h4>
                    <p class="">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis finibus orci, vitae
                        iaculis
                        nisl consequat quis. Ut at nulla molestie, vestibulum massa pharetra, tempor ipsum. Proin id
                        lectus
                        nec elit tempor luctus. Vestibulum sed sapien elit. Vivamus non leo tempus, sodales magna nec,
                        tempus ante. Donec sit amet quam tellus
                    </p>
                    <a class="article-link" href="{{ path('article_activites') }}" type="button">Lire</a>
                </div>
            </div>
        </section>
        <section class="donate col-md-10 col-lg-8 col-xl-7" id="donate">
            <div class="section_details">
                <h1>Donner aujourd'hui</h1>
                <p><i>Afin de nous soutenir dans nos actions</i></p>
            </div>
            <div class="donate_amount">
                <div class="amount">
                    <span class="amount-item">100cfa</span>
                    <span class="amount-item">200cfa</span>
                    <span class="amount-item">500cfa</span>
                    <span class="amount-item">1000cfa</span>
                </div>
                <input class="donation-input" name="donation-input" id="donation-input" type="text"
                       placeholder="Autre montant (Cfa)"/>
            </div>
            <button class="btn-donate">Donner</button>
        </section>
        <section id="articles" class="articles col-md-12 col-lg-12 col-xl-12">
            <div class="div-titre">
                <h1 class="titre">Nos derniers articles</h1>
            </div>
            <div class="">
                <div class="news-slider">
                    <div class="news-slider__wrp swiper-wrapper">
                        <div class="news-slider__item swiper-slide">
                            <a href="{{ path('article_agriculture') }}" class="news__item">
                                <div class="news-date">
                                    <span class="news-date__title">11</span>
                                    <span class="news-date__txt">Avril</span>
                                </div>
                                <div class="news__title">Lorem Ipsum Dolor Sit Amed</div>

                                <p class="news__txt">
                                    6
                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy
                                    text ever since the 1500s...
                                </p>

                                <div class="news__img">
                                    <img class="card-img-top" src="{{ asset('images/deplaces.jpeg') }}"
                                         alt="Card image cap">
                                </div>
                            </a>
                        </div>

                        <div class="news-slider__item swiper-slide">
                            <a href="{{ path('article_sante') }}" class="news__item">
                                <div class="news-date">
                                    <span class="news-date__title">8</span>
                                    <span class="news-date__txt">Mars</span>
                                </div>
                                <div class="news__title">Article santé</div>

                                <p class="news__txt">
                                    1
                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy
                                    text ever since the 1500s...
                                </p>

                                <div class="news__img">
                                    <img class="card-img-top" src="{{ asset('images/deplaces.jpeg') }}"
                                         alt="Card image cap">
                                </div>
                            </a>
                        </div>

                        <div class="news-slider__item swiper-slide">
                            <a href="{{ path('article_agriculture') }}" class="news__item">
                                <div class="news-date">
                                    <span class="news-date__title">3</span>
                                    <span class="news-date__txt">Mars</span>
                                </div>
                                <div class="news__title">Article agriculture</div>

                                <p class="news__txt">
                                    2
                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy
                                    text ever since the 1500s...
                                </p>

                                <div class="news__img">
                                    <img class="card-img-top" src="{{ asset('images/deplaces.jpeg') }}"
                                         alt="Card image cap">
                                </div>
                            </a>
                        </div>

                        <div class="news-slider__item swiper-slide">
                            <a href="{{ path('article_education') }}" class="news__item">
                                <div class="news-date">
                                    <span class="news-date__title">3</span>
                                    <span class="news-date__txt">Octobre</span>
                                </div>
                                <div class="news__title">Article éducation</div>

                                <p class="news__txt">
                                    3
                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy
                                    text ever since the 1500s...
                                </p>

                                <div class="news__img">
                                    <img class="card-img-top" src="{{ asset('images/deplaces.jpeg') }}"
                                         alt="Card image cap">
                                </div>
                            </a>
                        </div>

                        <div class="news-slider__item swiper-slide">
                            <a href="{{ path('article_agriculture') }}" class="news__item">
                                <div class="news-date">
                                    <span class="news-date__title">16</span>
                                    <span class="news-date__txt">Février</span>
                                </div>
                                <div class="news__title">Article agriculture</div>

                                <p class="news__txt">
                                    4
                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy
                                    text ever since the 1500s...
                                </p>

                                <div class="news__img">
                                    <img class="card-img-top" src="{{ asset('images/deplaces.jpeg') }}"
                                         alt="Card image cap">
                                </div>
                            </a>
                        </div>

                        <div class="news-slider__item swiper-slide">
                            <a href="{{ path('article_sante') }}" class="news__item">
                                <div class="news-date">
                                    <span class="news-date__title">7</span>
                                    <span class="news-date__txt">Janvier</span>
                                </div>
                                <div class="news__title">Article santé</div>

                                <p class="news__txt">
                                    5
                                    Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy
                                    text ever since the 1500s...
                                </p>

                                <div class="news__img">
                                    <img class="card-img-top" src="{{ asset('images/deplaces.jpeg') }}"
                                         alt="Card image cap">
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="news-slider__ctr">
                        <div class="news-slider__arrows">
                            <button class="news-slider__arrow news-slider-prev">
          <span class="icon-font">
            <svg class="icon icon-arrow-left">
              <use xlink:href="#icon-arrow-left"></use>
            </svg>
          </span>
                            </button>
                            <button class="news-slider__arrow news-slider-next">
          <span class="icon-font">
            <svg class="icon icon-arrow-right">
              <use xlink:href="#icon-arrow-right"></use>
            </svg>
          </span>
                            </button>
                        </div>

                        <div class="news-slider__pagination"></div>
                    </div>
                </div>
                <svg hidden="hidden">
                    <defs>
                        <symbol id="icon-arrow-left" viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path
                                    d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"
                            ></path>
                        </symbol>
                        <symbol id="icon-arrow-right" viewBox="0 0 32 32">
                            <title>arrow-right</title>
                            <path
                                    d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"
                            ></path>
                        </symbol>
                    </defs>
                </svg>
            </div>
        </section>
        <section class="about-us col-md-12 col-lg-12 col-xl-12" id="about-us">
            <div class="div-titre">
                <h1 class="titre">À propos de l'association</h1>
            </div>
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column justify-content-center">
                    <div class="about-us-card col-md-12">
                        <img class="about-us-card-image" src="{{ asset('images/icons/nouvelle-annee.png') }}"
                             alt="nouvelle annee">
                        <h5 class="about-us-card-titre">Création de l'association</h5>
                    </div>
                    <div class="about-us-card col-md-12">
                        <img class="about-us-card-image" src="{{ asset('images/icons/balance.png') }}" alt="food">
                        <h5 class="about-us-card-titre">Forme juridique</h5>
                        <small>Association individuelle</small>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
